<!DOCTYPE html>  
<html>  
<head>  
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />  
<meta name="viewport" content="initial-scale=1.0, user-scalable=no" />  
<style type="text/css">  
body, html,#l-map {width: 100%;height: 100%;overflow: hidden;margin:0;}  
</style>  
<script type="text/javascript" src="http://api.map.baidu.com/api?type=quick&ak=EA647352914ed58dfab26eb565c71f8e&v=1.0"></script>  
<title>map</title>  
</head>

<body>  
<div id="l-map"></div>  
</body>
</html>  
<script type="text/javascript">  
var map = new BMap.Map("l-map");  
map.centerAndZoom(new BMap.Point(116.404, 39.915), 14);
map.centerAndZoom(new BMap.Point(116.404, 39.915), 14);      
var zoomControl=new BMap.ZoomControl();  
map.addControl(zoomControl); 
var scaleControl=new BMap.ScaleControl();  
map.addControl(scaleControl);

var map = new BMap.Map("l-map");  
map.centerAndZoom(new BMap.Point(116.404, 39.915), 14);  

   
function addMarker(point, index){  // 创建图标对象     
  var myIcon = new BMap.Icon("http://api.map.baidu.com/mapCard/img/location.gif",   
      new BMap.Size(14, 23), {        
       anchor: new BMap.Size(7, 25),        
      });            
  var marker = new BMap.Marker(point, {icon: myIcon});      
  map.addOverlay(marker);      
}      
   
var bounds = map.getBounds();      
var lngSpan = bounds.getNorthEast().lng - bounds.getSouthWest().lng;      
var latSpan = bounds.getNorthEast().lat- bounds.getSouthWest().lat;      
for (var i = 0; i < 10; i++) {  
  var point = new BMap.Point(bounds.getSouthWest().lng + lngSpan * (Math.random() * 0.7 + 0.15), bounds.getSouthWest().lat + latSpan * (Math.random() * 0.7 + 0.15));  
  addMarker(point, i); 
}

 
</script>